body {
  padding-top: 50px;
}
sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding: 10px; margin-top: 0px
}
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

img {border: 0px}
.fieldset {display: none; width: 100%; padding: 5px}
.datafield {padding: 5px; margin: 10px 0px; border: 1px dotted gray; Verdana; font-size: 12px; color: #444546;}

#menu-toggle {position: absolute; z-index: 1000; left: -15px; top: 5px; background-color: #fff; padding: 4px; border-radius: 0px 4px 4px 0px; border: 1px solid #a6a6a6; border-left: 0px; }

.cl {display: none}
.arrow {color: #3C7E9C; display: block; margin-top: 5px; margin-right: 2px; cursor: pointer; font-size: 12px; float: left; text-decoration: none; width: 12px;}
.mnulink {font-family: Verdana; margin-top: 5px; font-size: 14px; color: #4F9CEA; text-decoration: none;}
.mnulink:hover {text-decoration: underline}
.realm_descr {background-color: #F3F4F4; padding: 10px; font-family: Verdana; color: 8C8C8D; font-size: 12px; border-radius: 3px; border: 1px solid #F0F0F0}


.realms {background-color: #FEFEFE; padding: 10px; font-family: Verdana; font-size: 12px; border-radius: 3px; border: 1px solid #F0F0F0; margin: 10px 0px}
.nodes {background-color: #FEFEFE; padding: 10px; font-family: Verdana; font-size: 12px; border-radius: 3px; border: 1px solid #F0F0F0; margin: 10px 0px}

.sublist {display: none}

.addnode {position: relative}
.addnode-types {display: none; position: relative; width: 850px; border: 1px solid grey; background-color: #EEE; border-radius: 5px;}
.addnode-types .item {float: left; margin: 5px; min-width: 200px; max-width: 160px}

tr.price-edit {display: none; background-color: grey}
tr.price-edit input {width: 80px}
tr.price-edit td:first {padding: 5px 2px}
tr.price-edit td {padding: 0px 2px}
tr.price-string td {padding: 5px 2px}

.clone-field {display: inline-block; width: 12px; height: 12px; padding: 4px; border-radius: 4px; border: 1px solid grey; background-image: url(/i/admin/add.png); background-repeat: no-repeat; background-size: cover; cursor: pointer}
.remove-field {display: inline-block; width: 12px; height: 12px; padding: 4px; border-radius: 4px; border: 1px solid grey; background-image: url(/i/admin/delete.png); background-repeat: no-repeat; background-size: cover; cursor: pointer}
