@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic);

body {background-image: url(/public/i/bg.jpg); margin: 0px; padding: 0px; font-family: PT Sans; text-align: left; font-size: 13px}
a{color: #036a7d; font-size: 13px;}
.wrapper {width: 982px; margin: 0px auto; background-color: #fff;
-webkit-box-shadow: 0px 1px 20px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 20px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 20px 0px rgba(50, 50, 50, 0.75);
}
.siteheader {width: 982px; height: 157px; background-image: url(/public/i/top-bg.jpg);}
.siteheader .title1 {font-size: 18px; font-family: PT Sans; color: #036b7d; padding-left: 0px; margin-top: 10px}
.siteheader .title2 {font-size: 24px; font-family: PT Sans; color: #036b7d; padding-left: 0px}

.siteheader .phone1 {font-size: 15px; font-family: PT Sans; color: #036b7d; text-align: right; padding-right: 20px;}
.siteheader .phone2 {font-size: 31px; font-family: PT Sans; color: #036b7d; text-align: right; padding-right: 20px;}

.siteheader .top-links {margin: 50px 0px 10px 10px; float: left;}
.siteheader .lang { float: left;margin: 54px 0px 10px 90px;font-size: 11px; font-family: PT Sans; color: #a29796}
.siteheader .lang a {font-size: 11px; font-family: PT Sans; color: #036b7d}

.siteheader  .right-link { text-align: right; padding-right: 20px;}
.siteheader  .right-link a {font-size: 14px; font-family: PT Sans; color: #036b7d;}

.top-menu-wrapper {padding: 0px; position: relative; padding-bottom: 80px}
.top-menu-wrapper .leftblock {position: absolute; left: -10px; width: 10px; height: 50px; background-color: #036a7d; border: 1px solid #616161; border-right: 0px;}
.top-menu-wrapper .leftblock .corner {border-top: 7px solid #3a0508; border-right: 5px solid #3a0508; border-bottom: 7px solid rgba(255,255,255,0); border-left: 5px solid rgba(255,255,255,0); position: relative; top: 51px; left: -1px}
.top-menu-wrapper .rightblock {position: absolute; right: -10px; width: 10px; height: 50px; background-color: #7a050c; border: 1px solid #616161; border-left: 0px;}
.top-menu-wrapper .rightblock .corner {border-top: 7px solid #3a0508; border-left: 5px solid #3a0508; border-bottom: 7px solid rgba(255,255,255,0); border-right: 5px solid rgba(255,255,255,0); position: relative; top: 51px; left: 1px}
.top-menu-wrapper .top-menu {table-layout: fixed; background-color: #7a050c; position: absolute; border-top: 1px solid #616161; border-bottom: 1px solid #616161;}
.top-menu-wrapper .top-menu .item {padding: 14px 0px}
.top-menu-wrapper .top-menu .item:hover {background-color: #4c90a1}
.top-menu-wrapper .top-menu .item.active {background-color: #4c90a1}
.top-menu-wrapper .top-menu .item a {font-size: 16px; font-family: PT Sans; color: #fff; text-decoration: none}

.left-menu-wrapper {padding: 0px; position: relative;}
.left-menu-wrapper .corner {border-top: 7px solid #1b4d59; border-right: 5px solid #1b4d59; border-bottom: 7px solid rgba(255,255,255,0); border-left: 5px solid rgba(255,255,255,0); position: relative; left: -10px; width: 0px;}
.left-menu-wrapper .left-menu {padding-left: 10px; position: relative; left: -10px; width: 260px; background-color: #036a7d;}
.left-menu-wrapper .left-menu .item{background-color: #4c90a1; padding: 10px 0px 10px 20px; border-bottom: 1px solid #6aa1af}
.left-menu-wrapper .left-menu .item a {font-size: 15px; font-family: PT Sans; color: #fff; text-decoration: none}

.left-pollblock-wrapper {margin-top: 20px; position: relative;}
.left-pollblock-wrapper .corner {border-top: 7px solid #535050; border-right: 5px solid #535050; border-bottom: 7px solid rgba(255,255,255,0); border-left: 5px solid rgba(255,255,255,0); position: relative; left: -10px; width: 0px;}
.left-pollblock-wrapper .left-pollblock {padding: 10px 0px 10px 30px; position: relative; left: -10px; width: 240px; background-color: #ece9e9; background-image: url(/public/i/stetoscope.jpg); background-size: contain; background-repeat: no-repeat;}
.left-pollblock-wrapper .left-pollblock .title {font-size: 16px; font-family: PT Sans; color: #036b7d}

.poll-btn {display: inline-block; padding: 2px 6px; border-radius: 4px; background-color: #036b7d; color: #fff; cursor: pointer}
.poll-link {display: inline-block; padding: 2px 6px; border-radius: 4px; background-color: #036b7d; color: #fff; cursor: pointer; text-decoration: none}


.left-phones {margin: 10px 0px 10px 10px; padding: 10px}
.left-phones .title {font-size: 17px; font-family: PT Sans; color: #036b7d}
.left-phones .content {font-size: 14px;}


.slider-wrapper {width: 630px; height: 280px; margin: 0px auto 20px; border: 1px solid #cacaca; position: relative}
.slider-wrapper .left {z-index: 1000; position: absolute; width: 28px; height: 280px; background-image: url(/public/i/left.png); background-repeat: no-repeat; background-position: center center; cursor: pointer}
.slider-wrapper .right {z-index: 1000; position: absolute; left: 602px; width: 28px; height: 280px;background-image: url(/public/i/right.png); background-repeat: no-repeat; background-position: center center; cursor: pointer}

.slider-wrapper .slides {margin: 0px auto; width: 630px; position: relative;}
.slider-wrapper .slides .item {z-index: 10; width: 630px; height: 280px; position: absolute;  top: 0px; left: 0px; display: none; text-align: center}
.slider-wrapper .slides .item .text-block {position: absolute; margin: 0px 20px; top: 212px; background-color: rgba(3,107,125,0.65);
font-size: 18px; font-family: PT Sans; color: #fff; padding: 10px; text-align: left;
}
.slider-wrapper .slides .item .nav {margin: 0px auto 0px auto; display: inline-block; position: relative; }
.slider-wrapper .slides .item .nav .btn {height: 10px; width: 10px; border-radius: 5px; margin: 10px 5px; background-color: #c7c7c7; display: inline-block; cursor: pointer;
-webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.slider-wrapper .slides .item .nav .active {height: 10px; width: 10px; border-radius: 5px; margin: 10px 5px; display: inline-block; background-color: #316B83;}

.slider {margin-bottom: 40px; }
.slider .title {margin-bottom: 10px}

.mid-grad{ width: 5px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,219,219,1) 8%, rgba(221,219,219,1) 92%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(8%, rgba(221,219,219,1)), color-stop(92%, rgba(221,219,219,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,219,219,1) 8%, rgba(221,219,219,1) 92%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,219,219,1) 8%, rgba(221,219,219,1) 92%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,219,219,1) 8%, rgba(221,219,219,1) 92%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(221,219,219,1) 8%, rgba(221,219,219,1) 92%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.main-btns {margin: 60px auto 20px; width: 630px;}
.main-btns .btn1 {float: left}
.main-btns .btn2 {float: right}

.main-news {padding: 10px; background-color: #f6f5f5; margin: 30px auto; width: 610px}
.main-news > .title {color: #036b7d; font-size: 17px; margin-bottom: 20px}
.main-news-item {width: 260px; float: left; min-height: 80px; padding: 20px}
.main-news-item > .img {border: 1px solid #036b7d; float: left; margin-right: 10px}
.main-news-item > .title {padding-left: 10px;}
.main-news-item > .title a{color: #036a7d; font-size: 15px;}

.block {padding: 10px; margin-left: 10px}
.block > .title {color: #036b7d; font-size: 17px; margin-bottom: 20px}
.block > .content {margin: 0px}

.news-container {padding: 0px; clear: both; margin: 0px 20px 40px 10px;}
.news-container .title {float: left;}
.news-container .title a {font-size: 15px; text-decoration: none}
.news-container .title a:hover {text-decoration: underline}
.news-container .date  {float: right; padding: 0px;}

.news-header-text {float: left}
.news-date {float: right; padding-right: 20px}
.news-content {padding-right: 20px}


.way {padding: 0px 0px 0px 10px; color: grey; margin-left: 10px; font-size: 12px;}
.way b {color: grey;}
.way a {color: grey;}


.sitemap {}
.sitemap .sub{padding-left:25px;}

.footer {border-top: 6px solid #dddbdb; margin: 10px 30px 0px; padding: 15px 0px; font-family: Tahoma; font-size: 11px}
.footer a {color: #036b7d}

p.title {color: #0AA1E1; font-family: Arial; font-weight: bold; font-size: 13px;}
.faq_header {color: #0AA1E1; font-family: Arial; font-size: 13px; margin: 8px 0px 0px 0px}

.answer {color: #0AA1E1; font-family: Arial; font-size: 13px; margin: 8px 0px 0px 0px}

.file {margin-bottom: 10px}
.gallery-img {display:inline-block;margin:10px 20px;width:160px;height:100px;border-radius:2px;}
.viewcounter {font-size: 12px;}